@font-face {
	font-family: 'Chango';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Chango-Regular.ttf');
}

* {
	margin: 0;
	}
	
html, body {
	height: 100%;
	}

.wrapper {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
	}
	
.footer, .push {
	height: 8em;
	}
